## Домашняя работа [2]
Сегодня работаем с matplotlib и seaborn. Это две библиотеки для визуализации зависимостей наших данных. Задача следующая написать код, который будет строить определенные графики. Для каждого графика необходимо будет добавить описание осей и название. Дополнительные требования будут описанны в самом задании.

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
data = pd.read_csv('insurance.csv')

In [4]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

__1. Построить boxplot для пары параметров sex и charges и отразить на графике параметр smoker__

In [11]:
# Your code here

__2. Построить зависимость приззнаков region и childre в виде столбчатой диаграммы(barplot) и отразить на ней параметр smoker__

In [10]:
# Your code here

__3. Построить scatterplot для параметров age и charges, так же на графике надо отразить параметр bmi. В легенде граффика необходимо использовать форматирование текста с помощью LaTeX.__

In [9]:
# Your code here

__4. Построить heatmap такой же как на картинке ниже, цветовая схема может бять другой.__
<img src='heatmap.png'>

In [8]:
# Your code here